.cabecalho {
       background-color: #424E61;
       color: white;
       display: flex;
       justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
   display: inline-block; 
   margin: 0 16px;   
}